* {
    margin: 0;
    box-sizing: border-box;
}

/* ----------- Navbar ------------  */
.navbar {
    z-index: 5;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
}

/* Assigning Font poroperies to multiple Elements */
h4,
p,
button,
.input-field,
.input-field-comment,
.choose-file-button,
.finsihed-button,
.submit-comment-button {
    font-family: "Roboto-condensed", sans-serif;
    font-weight: 100;
}

/* applying function positioning and styles to nav bar elements */
.finsihed-button {
    padding-top: 10px;
}

.navbar-title {
    font-size: 18px;
    padding-left: 30px;
    text-align: left;
    width: 50%;
}
.navbar-about {
    font-size: 18px;
    padding-right: 30px;
    /* margin-left: 38%; */
    text-align: right;
    justify-content: flex-end;
    width: 100%;
    background: none;
    border: none;
}
/* ----------End of nav bar ----------- */

/* ---------- Main SPA display ------------ */

.card-container {
    padding: 100px 220px 180px 220px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-flow: row;
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 100px 100px;
    justify-items: center;
    align-items: center;
    opacity: 1;
    overflow: hidden;
    margin-bottom: 50px;
}

.fullCard {
    opacity: 1;
    position: relative;
    top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    height: 400px;
}

.fullCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.card-text {
    padding: 5px 5px;
    text-align: left;
}

.card-images {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
}

.card-title {
    padding-bottom: 5px;
}

/* ---------- END of Main SPA display ------------ */

/* ----------- Styling on the upload Pop up Model & various input fields and buttons ---------------- */

.input-field,
.input-field-file-upload,
.input-field-comment {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

.input-field,
.input-field-file-upload,
.input-field-comment {
    border: none;
    margin-bottom: 6px;
    width: 250px;
    height: 20px;
}

.input-field::placeholder,
.input-field-file-upload::placeholder,
.input-field-comment::placeholder,
.choose-file-button::placeholder,
.finsihed-button::placeholder,
.submit-comment-button::placeholder,
.more-button::placeholder {
    font-size: 12px;
    text-align: center;
}

.input-field:focus,
.input-field-file-upload:focus,
.input-field-comment:focus,
.choose-file-button:focus,
.upload-button:focus,
.finsihed-button:focus,
.submit-comment-button:focus,
.more-button:focus {
    outline: none;
}

.upload-button,
.more-button {
    background: none;
    border: none;
    cursor: pointer;
}

.more-button {
    position: fixed;
    bottom: 3%;
    left: 3%;
}

#files {
    visibility: hidden;
    width: 0.1px;
}
.choose-file-button,
.finsihed-button,
.submit-comment-button,
.more-button {
    border: none;
    width: 250px;
    font-size: 13.33px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}
.more-button {
    width: 50px;
}

/* ----------- END of Styling on the upload Pop up Model & various input fields and buttons ---------------- */

/* ----------- Styling of whole form elements ------------ */

.upload-form,
.comments-form {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
}
.comments-form {
    width: 25vh;
    margin-top: 180px;
    margin-left: 20px;

    /* align-content: flex-end; */
}

/* ----------- END of Styling of whole form elements ------------ */

/* ------------ Styling for model copntainers(text/image/button) + animations on the selected image pop up model ---------------- */

/* Model housing's for upload model */
.model-housing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 85%;
    animation: riseFromBottom 750ms linear;
}
/* animation for upload model to make it rise from the botton */
@keyframes riseFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

/* Animations for bring the upload animation back to the bottom of the page */
.minimiseUpload {
    animation: returnToBottom 750ms linear;
    animation-fill-mode: both;
}
@keyframes returnToBottom {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

.upload-modal-cover {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.upload-modal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 350px;
    padding: 20px 30px;
    border-radius: 5px;
}
/* End of Model housing's for upload model */

/* Model housing for selected Image model */
.full-selected-image-model-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    width: 100vw;
    position: fixed;
    top: 6%;
    z-index: 2;
    background-color: white;
    animation: opacity 500ms linear;
    animation-fill-mode: both;
}
/* Selected Image model animation for background opacity */
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Bringing back the opacity for Selected Image model */
.restoreOpacity {
    animation: returnOpacity 500ms linear;
    animation-fill-mode: both;
}
@keyframes returnOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.selected-image-model {
    width: 85vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    animation: scaleSelectedImageModel 500ms linear;
    animation-fill-mode: both;
}
/* Selected Image model animation for scaling the model up*/
@keyframes scaleSelectedImageModel {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Scaling back down the selected image when close is clicked */
.minimiseSelectedImageModel {
    animation: minimiseSelectedImageModel 500ms linear;
    animation-fill-mode: both;
}
@keyframes minimiseSelectedImageModel {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

/* image container model */
.image-container-in-model {
    width: 500px;
    height: 500px;
}

/* text container on model */
.text-container-in-model {
    display: block;
    margin-top: 100px;
    margin-left: 30px;
    height: 400px;
    width: 500px;
    position: relative;
}

.card-title-model,
.card-description-model {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
/* close button on selected image model */
.close-selected-image-model {
    padding-top: 10px;
    cursor: pointer;
}

/* Each comment  */
.card-comments {
    padding: 5px 0px;
    margin-left: 5px;
}

/* comment box */
.comment-box-container {
    margin-top: 40px;
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    overflow-y: auto;
    position: absolute;
    left: -243%;
    top: 75%;
    /* background-color: yellow; */
}

.comment-box-container::-webkit-scrollbar {
    display: none;
}
