* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    z-index: 2;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
}

h4,
p,
.input-field,
button,
.choose-file-button {
    font-family: "Roboto-condensed", sans-serif;
    font-weight: 100;
}

.navbar-title {
    font-size: 18px;
    padding-left: 30px;
    text-align: left;
    width: 50%;
}
.navbar-about {
    font-size: 18px;
    padding-right: 30px;
    text-align: right;
    justify-content: flex-end;
    width: 50%;
}

.card-container {
    padding: 50px 170px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-flow: row;
    grid-template-rows: repeat(3, 1fr);
    gap: 120px 120px;
    justify-items: center;
    align-items: stretch;
    opacity: 1;
}

.fullCard {
    opacity: 1;
    position: relative;
    top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.fullCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.card-text {
    padding: 5px 5px;
    text-align: left;
}

.card-images {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
}

.card-title {
    padding-bottom: 5px;
}

.bottom-navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
}

.bottom-navbar .input-field,
.input-field-file-upload {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

.input-field,
.input-field-file-upload {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 6px;
    width: 180px;
    height: 20px;
}

.input-field::placeholder,
.input-field-file-upload::placeholder,
.choose-file-button::placeholder {
    font-size: 12px;
}

.input-field:focus,
.input-field-file-upload:focus,
.choose-file-button:focus {
    outline: none;
}

.upload-button {
    background: none;
    border: none;
    padding-left: 10px;
}

#choose-file-label {
    visibility: hidden;
    width: 0.1px;
}
.choose-file-button {
    border: none;
    width: 110px;
    padding-left: 20px;
    font-size: 13.33px;
    height: 20px;
    margin-top: 10px;
}

/* input[type="file"] {
    display: none;
} */
