* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    z-index: 5;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
}

h4,
p,
.input-field,
button,
.choose-file-button,
.finsihed-button {
    font-family: "Roboto-condensed", sans-serif;
    font-weight: 100;
}

.finsihed-button {
    padding-top: 10px;
}

.navbar-title {
    font-size: 18px;
    padding-left: 30px;
    text-align: left;
    width: 50%;
}
.navbar-about {
    font-size: 18px;
    padding-right: 30px;
    /* margin-left: 38%; */
    text-align: right;
    justify-content: flex-end;
    width: 100%;
    background: none;
    border: none;
}

.card-container {
    padding: 50px 170px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-flow: row;
    grid-template-rows: repeat(3, 1fr);
    gap: 120px 120px;
    justify-items: center;
    align-items: stretch;
    opacity: 1;
    overflow: hidden;
}

.fullCard {
    opacity: 1;
    position: relative;
    top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    height: 400px;
}

.fullCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.card-text {
    padding: 5px 5px;
    text-align: left;
}

.card-images {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
}

.card-title {
    padding-bottom: 5px;
}

.input-field,
.input-field-file-upload {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

.input-field,
.input-field-file-upload {
    border: none;
    /* border-bottom: 1px solid black; */
    margin-bottom: 6px;
    width: 250px;
    height: 20px;
}

.input-field::placeholder,
.input-field-file-upload::placeholder,
.choose-file-button::placeholder,
.finsihed-button::placeholder {
    font-size: 12px;
    text-align: center;
}

.input-field:focus,
.input-field-file-upload:focus,
.choose-file-button:focus,
.upload-button:focus,
.finsihed-button:focus {
    outline: none;
}

.upload-button {
    background: none;
    border: none;
    /* padding-left: 10px; */
    cursor: pointer;
}

#files {
    visibility: hidden;
    width: 0.1px;
}
.choose-file-button,
.finsihed-button {
    border: none;
    width: 250px;
    /* padding-left: 20px; */
    font-size: 13.33px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.upload-form {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
}

/* modal stuff */
.model-housing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 85%;
    /* left: 00%; */
    animation: moveToMiddle 500ms linear;
}

@keyframes moveToMiddle {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.upload-modal-cover {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.upload-modal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 350px;
    padding: 20px 30px;
    border-radius: 5px;

    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33); */
    /* transition: all 2s ease; */
    /* transition-timing-function: ease-in;
    transition: 2s; */
}
/* .modal-enter {
    opacity: 1;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} */

.full-image-model-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    width: 100vw;
    position: fixed;
    top: 6%;
    z-index: 2;
    background-color: white;
    animation: opacity 500ms linear;
    animation-fill-mode: forwards;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.full-card-model {
    width: 75vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    animation: moveToCenter 500ms linear;
}
@keyframes moveToCenter {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.card-image-model {
    width: 500px;
    height: 500px;
}

.card-text-model {
    display: block;
    margin-left: 30px;
}

.card-title-model,
.card-description-model {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card-description-model-finish {
    cursor: pointer;
}
